In [ ]:


import pandas as pd

bronx_df = pd.read_csv('bronx_df(in).csv')
brooklyn_df = pd.read_csv('brooklyn_df(in).csv')
manhattan_df = pd.read_csv('manhattan_df(in).csv')
queens_df = pd.read_csv('queens_df(in).csv')
staten_island_df = pd.read_csv('staten_island_df(in).csv')

In [ ]:
# combines all borough datasets into one
yelp_combined_df = pd.concat([bronx_df, brooklyn_df, manhattan_df, queens_df, staten_island_df], ignore_index=True)

# removes Location Point1 column
if 'Location Point1' in yelp_combined_df.columns:
    yelp_combined_df = yelp_combined_df.drop(columns=['Location Point1'])

# saves in file for download
yelp_combined_df.to_csv('boroughs_combined.csv', index=False)

In [ ]:
print(yelp_combined_df.head())

      CAMIS                                           DBA   BORO BUILDING  \
0  50159852                          MEJIA DELI FOOD CORP  Bronx     1201
1  41124419                                    BURGER HUT  Bronx   152112
2  41584120                                      7 SPICES  Bronx   906908
3  50099398  LECHONERA POLLO SABROSO DEL VALLE RESTAURANT  Bronx     650B
4  41308105                                EMILIO'S PIZZA  Bronx       80

                 STREET  ZIPCODE       PHONE CUISINE DESCRIPTION  \
0            LELAND AVE      NaN  9174716834                 NaN
1    WESTCHESTER AVENUE      NaN  7188426426            American
2          E GUNHILL RD      NaN  3473268646           Caribbean
3    WESTCHESTER AVENUE      NaN  3472977545             Spanish
4  WEST KINGSRIDGE ROAD      NaN  7185633665               Pizza

  INSPECTION DATE                                           ACTION  ...  \
0        1/1/1900                                              NaN  ...
1       2/28/2022                Establishment re-opened by DOHMH.  ...
2       5/25/2022  Violations were cited in the following area(s).  ...
3       11/2/2022  Violations were cited in the following area(s).  ...
4       1/30/2024  Violations were cited in the following area(s).  ...

  Latitude Longitude Community Board  Council District Census Tract  \
0      0.0       0.0             NaN               NaN          NaN
1      0.0       0.0             NaN               NaN          NaN
2      0.0       0.0             NaN               NaN          NaN
3      0.0       0.0             NaN               NaN          NaN
4      0.0       0.0             NaN               NaN          NaN

         BIN           BBL  NTA  yelp_rating  yelp_review_count
0        NaN  2.000000e+00  NaN          0.0                0.0
1        NaN  2.000000e+00  NaN          3.4              161.0
2        NaN  2.000000e+00  NaN          2.6               52.0
3  2004429.0  2.026230e+09  NaN          3.5               40.0
4        NaN  2.000000e+00  NaN          2.3               48.0

[5 rows x 28 columns]

In [ ]:
boroughs_combined_df = pd.read_csv('boroughs_combined.csv')

In [ ]:
#checks for duplicates
boroughs_combined_df = boroughs_combined_df.drop_duplicates()

In [ ]:
#counts amount of rows before cutting
rows_before = boroughs_combined_df.shape[0]

#drop row if key columns are empty or invalid
key_columns = ['DBA', 'BORO', 'yelp_rating', 'Latitude', 'Longitude', 'yelp_review_count']
boroughs_combined_df = boroughs_combined_df.dropna(subset=key_columns)

In [ ]:
#shows amount of rows that were dropped
rows_after = boroughs_combined_df.shape[0]
rows_dropped = rows_before - rows_after
print(f"Number of rows dropped in validation of columns: {rows_dropped}")

Number of rows dropped in validation of columns: 253

In [ ]:
#normalizing text data by converting to lower case, stripping spaces and removeal of special characters
boroughs_combined_df['DBA'] = boroughs_combined_df['DBA'].str.lower().str.strip()
boroughs_combined_df['BORO'] = boroughs_combined_df['BORO'].str.lower().str.strip()

In [ ]:
boroughs_combined_df['yelp_rating'] = pd.to_numeric(boroughs_combined_df['yelp_rating'], errors='coerce')
boroughs_combined_df['yelp_review_count'] = pd.to_numeric(boroughs_combined_df['yelp_review_count'], errors='coerce')

In [ ]:
boroughs_combined_df['yelp_rating'].fillna(0, inplace=True)
boroughs_combined_df['yelp_review_count'].fillna(0, inplace=True)

<ipython-input-11-8615ffa000e2>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  boroughs_combined_df['yelp_rating'].fillna(0, inplace=True)
<ipython-input-11-8615ffa000e2>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  boroughs_combined_df['yelp_review_count'].fillna(0, inplace=True)

In [ ]:
lat_min, lat_max = 40.477399, 40.917577
long_min, long_max = -74.259090, -73.700272

boroughs_combined_df = boroughs_combined_df[
    (boroughs_combined_df['Latitude'].between(lat_min, lat_max)) &
    (boroughs_combined_df['Longitude'].between(long_min, long_max))
]

In [ ]:
missing_data_summary = boroughs_combined_df.isnull().sum()
print("\nMissing Data Summary:")
print(missing_data_summary)

Missing Data Summary:
CAMIS                        0
DBA                          0
BORO                         0
BUILDING                    25
STREET                       0
ZIPCODE                      0
PHONE                        3
CUISINE DESCRIPTION       2593
INSPECTION DATE              0
ACTION                    2593
VIOLATION CODE            2883
VIOLATION DESCRIPTION     2883
CRITICAL FLAG                0
SCORE                     3294
GRADE                    10791
GRADE DATE               12291
RECORD DATE                  0
INSPECTION TYPE           2593
Latitude                     0
Longitude                    0
Community Board             40
Council District            40
Census Tract                40
BIN                        185
BBL                         40
NTA                         40
yelp_rating                  0
yelp_review_count            0
dtype: int64

In [ ]:
review_count_threshold = 5000
outliers = boroughs_combined_df[boroughs_combined_df['yelp_review_count'] > review_count_threshold]
print(f"\nNumber of outliers in Yelp review count: {len(outliers)}")
print("Sample outliers:")
print(outliers[['DBA', 'yelp_review_count']].head())

Number of outliers in Yelp review count: 0
Sample outliers:
Empty DataFrame
Columns: [DBA, yelp_review_count]
Index: []

In [ ]:
inspection_data = pd.read_csv('DOHMH_New_York_City_Restaurant_Inspection_Results_20241203.csv')

<ipython-input-15-6aabe0ecf7cc>:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  inspection_data = pd.read_csv('DOHMH_New_York_City_Restaurant_Inspection_Results_20241203.csv')

In [ ]:
inspection_data['DBA'] = inspection_data['DBA'].str.lower().str.strip()
inspection_data['BORO'] = inspection_data['BORO'].str.lower().str.strip()

In [ ]:
inspection_data['CAMIS'] = inspection_data['CAMIS'].astype(str)
boroughs_combined_df['CAMIS'] = boroughs_combined_df['CAMIS'].astype(str)

In [ ]:
merged_data = pd.merge(
    boroughs_combined_df,
    inspection_data,
    on='CAMIS',
    how='inner',
    suffixes=('_yelp', '_inspection')
)

In [ ]:
output_path = '/content/cleaned_merged_inspection_data.csv'
merged_data.to_csv(output_path, index=False)
print(f"\nFinal cleaned and merged dataset saved to: {output_path}")

Final cleaned and merged dataset saved to: /content/cleaned_merged_inspection_data.csv

In [ ]:
print("\nFinal Merged Dataset Preview:")
print(merged_data.head())

Final Merged Dataset Preview:
      CAMIS                    DBA_yelp BORO_yelp BUILDING_yelp  \
0  50126924  walnut bus stop restaurant     bronx           881
1  50126924  walnut bus stop restaurant     bronx           881
2  50126924  walnut bus stop restaurant     bronx           881
3  50126924  walnut bus stop restaurant     bronx           881
4  50126924  walnut bus stop restaurant     bronx           881

        STREET_yelp  ZIPCODE_yelp  PHONE_yelp CUISINE DESCRIPTION_yelp  \
0  EAST  134 STREET       10454.0  9177741138                 American
1  EAST  134 STREET       10454.0  9177741138                 American
2  EAST  134 STREET       10454.0  9177741138                 American
3  EAST  134 STREET       10454.0  9177741138                 American
4  EAST  134 STREET       10454.0  9177741138                 American

  INSPECTION DATE_yelp                                      ACTION_yelp  ...  \
0            4/10/2023  Violations were cited in the following area(s).  ...
1            4/10/2023  Violations were cited in the following area(s).  ...
2            4/10/2023  Violations were cited in the following area(s).  ...
3            4/10/2023  Violations were cited in the following area(s).  ...
4            4/10/2023  Violations were cited in the following area(s).  ...

                      INSPECTION TYPE_inspection Latitude_inspection  \
0  Pre-permit (Operational) / Initial Inspection           40.800344
1               Cycle Inspection / Re-inspection           40.800344
2               Cycle Inspection / Re-inspection           40.800344
3       Pre-permit (Operational) / Re-inspection           40.800344
4          Cycle Inspection / Initial Inspection           40.800344

  Longitude_inspection  Community Board_inspection  \
0            -73.91067                       201.0
1            -73.91067                       201.0
2            -73.91067                       201.0
3            -73.91067                       201.0
4            -73.91067                       201.0

  Council District_inspection Census Tract_inspection BIN_inspection  \
0                         8.0                  1900.0      2097591.0
1                         8.0                  1900.0      2097591.0
2                         8.0                  1900.0      2097591.0
3                         8.0                  1900.0      2097591.0
4                         8.0                  1900.0      2097591.0

  BBL_inspection  NTA_inspection  Location Point1
0   2.025940e+09            BX39              NaN
1   2.025940e+09            BX39              NaN
2   2.025940e+09            BX39              NaN
3   2.025940e+09            BX39              NaN
4   2.025940e+09            BX39              NaN

[5 rows x 54 columns]

In [ ]:
print("\nFinal Merged Dataset Info:")
print(merged_data.info())

Final Merged Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208811 entries, 0 to 208810
Data columns (total 54 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   CAMIS                             208811 non-null  object
 1   DBA_yelp                          208811 non-null  object
 2   BORO_yelp                         208811 non-null  object
 3   BUILDING_yelp                     208698 non-null  object
 4   STREET_yelp                       208811 non-null  object
 5   ZIPCODE_yelp                      208811 non-null  float64
 6   PHONE_yelp                        208808 non-null  object
 7   CUISINE DESCRIPTION_yelp          206079 non-null  object
 8   INSPECTION DATE_yelp              208811 non-null  object
 9   ACTION_yelp                       206079 non-null  object
 10  VIOLATION CODE_yelp               203684 non-null  object
 11  VIOLATION DESCRIPTION_yelp        203684 non-null  object
 12  CRITICAL FLAG_yelp                208811 non-null  object
 13  SCORE_yelp                        198043 non-null  float64
 14  GRADE_yelp                        95876 non-null   object
 15  GRADE DATE_yelp                   87650 non-null   object
 16  RECORD DATE_yelp                  208811 non-null  object
 17  INSPECTION TYPE_yelp              206079 non-null  object
 18  Latitude_yelp                     208811 non-null  float64
 19  Longitude_yelp                    208811 non-null  float64
 20  Community Board_yelp              208616 non-null  float64
 21  Council District_yelp             208616 non-null  float64
 22  Census Tract_yelp                 208616 non-null  float64
 23  BIN_yelp                          207492 non-null  float64
 24  BBL_yelp                          208616 non-null  float64
 25  NTA_yelp                          208616 non-null  object
 26  yelp_rating                       208811 non-null  float64
 27  yelp_review_count                 208811 non-null  float64
 28  DBA_inspection                    208811 non-null  object
 29  BORO_inspection                   208811 non-null  object
 30  BUILDING_inspection               208698 non-null  object
 31  STREET_inspection                 208811 non-null  object
 32  ZIPCODE_inspection                208811 non-null  float64
 33  PHONE_inspection                  208808 non-null  object
 34  CUISINE DESCRIPTION_inspection    206256 non-null  object
 35  INSPECTION DATE_inspection        208811 non-null  object
 36  ACTION_inspection                 206256 non-null  object
 37  VIOLATION CODE_inspection         205015 non-null  object
 38  VIOLATION DESCRIPTION_inspection  205015 non-null  object
 39  CRITICAL FLAG_inspection          208811 non-null  object
 40  SCORE_inspection                  198712 non-null  float64
 41  GRADE_inspection                  96583 non-null   object
 42  GRADE DATE_inspection             89046 non-null   object
 43  RECORD DATE_inspection            208811 non-null  object
 44  INSPECTION TYPE_inspection        206256 non-null  object
 45  Latitude_inspection               208811 non-null  float64
 46  Longitude_inspection              208811 non-null  float64
 47  Community Board_inspection        208616 non-null  float64
 48  Council District_inspection       208616 non-null  float64
 49  Census Tract_inspection           208616 non-null  float64
 50  BIN_inspection                    207494 non-null  float64
 51  BBL_inspection                    208616 non-null  float64
 52  NTA_inspection                    208616 non-null  object
 53  Location Point1                   0 non-null       float64
dtypes: float64(21), object(33)
memory usage: 86.0+ MB
None